<% include partials/_header %>

<div class="container mt-5">
    <div class="row no-gutters cards-wrapper margin-elements" onclick="window.location.href='/products'">
        <div class="col-md-4">
            <div class="card-image-side">
                <img src="/public/products.jpg" class="card-img" alt="products">
            </div>
        </div>
        <div class="col-md-8">
              <div class="card-content-wrapper">
                  <div class="card-body text-white bg-success">
                    <h1 class="card-title">Products</h1>
                </div>
              </div>
        </div>
    </div>

    <div class="row no-gutters cards-wrapper margin-elements" onclick="window.location.href='/providers'">
        <div class="col-md-4">
            <div class="card-image-side">
                <img src="/public/providers.jpg" class="card-img" alt="providers">
            </div>
        </div>
        <div class="col-md-8">
              <div class="card-content-wrapper">
                  <div class="card-body text-white bg-success">
                    <h1 class="card-title">Providers</h1>
                </div>
              </div>
        </div>
    </div>

    <div class="row no-gutters cards-wrapper margin-elements" onclick="window.location.href='/categories'">
        <div class="col-md-4">
            <div class="card-image-side">
                <img src="/public/categories.png" class="card-img" alt="categories">
            </div>
        </div>
        <div class="col-md-8">
              <div class="card-content-wrapper">
                  <div class="card-body text-white bg-success">
                    <h1 class="card-title">Categories</h1>
                </div>
              </div>
        </div>
    </div>


</div>


<% include partials/_footer %>